*, body {margin: 0; padding: 0; font-family: Arial, Verdana, sans-serif;}
form label {
    float: left;
    width: 150px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.clear {
    display: block;
    clear: both;
    width: 100%;
}
#menu {background: #e6e6e6; padding: 5px;}
#menu ul li {display: inline-block;}
#menu div {display: inline-block;}
#menu form {display: inline-block}

#container{width: 700px; margin: 0 auto;}
#login, #signup{width: 300px; border: 1px solid #d6d7da; padding: 0 15px 15px 15px; border-radius: 5px;
    font-family: arial; line-height: 16px;color: #333333; font-size: 14px; background: #ffffff; rgba(200,200,200,0.7) 0 4px 10px -1px}
#login{float:left;}
#signup{float:left;}

h3{color:#365D98}
form label{font-weight: bold;}
#container form label, #container form input{display: block;margin-bottom: 5px;width: 90%;}
#container form input{border: solid 1px #666666;padding: 10px;border: solid 1px #BDC7D8; margin-bottom: 20px}
#container .button {
    background-color: #5fcf80 !important;
    border-color: #3ac162 !important;
    font-weight: bold;
    padding: 12px 15px;
    max-width: 100px;
    color: #ffffff;
}
input[type=text]:focus {
    border: 3px solid #555;
}
#menu input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: 1px solid #4ca557;
    color: white;
    padding: 2px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #86af1a;
    border: 1px solid #56a57e;
}
.errorMsg{color: #cc0000;margin-bottom: 10px}