html {
    overflow-y: scroll;
}
body{padding-top: 70px}
h1 {
    font-weight: 600;
    border-bottom: dotted 1px #0f3372;
}

nav form {display: inline-block}

#container {margin-top: 30px; margin-bottom: 3em;}
.adk {display: inline}
.adk-shadow {box-shadow: 0 3px 7px #cccccc; margin: 10px 0; padding-bottom: 10px}
.col-padding10 { margin:10px; padding:10px; }
.error-msg {background: red; color: white;}

.footer-bg {background: #dddddd;}

#list_container {float: left;}

fieldset.add-cat {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    border-radius: 3px;
}

legend.add-cat {
    width: auto !important;
    border: none;
    font-size: 14px;
}
/* Montly nav */
.nav-monthly {font-size: 20px;}
.nav-monthly a {border: 1px solid navy;
    padding: 5px 15px; margin: 5px 10px}


/* FORMS PATCH */
.text-right{
    text-align: right;
}
.label {
    min-width: 150px !important;
    display: inline-block !important;
    line-height: 1.4em;
}
.label-discrete {
    background-color: #eeeeee;
    color: #333333;
}
input[type=text] {padding: 2px 5px 2px 10px; !important;}
#footer {box-sizing: content-box; padding: 20px}
.background-light-gray {background: #f4f4f4}
.background-dark-gray {background: #161616
}

.shadow-soft {box-shadow: 0 3px 7px #d8d8d8
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.bottom-but-area {
    position: fixed;
    bottom:0;
    right:0;
    width: 300px; height: 80px;
    background: transparent;
    z-index: 20;
}
.btn-round-large {
    border-radius: 30px;
    border:2px solid white;
    /* background-color: #fff;*/
width: 60px;
    padding: 0px;
    font-size: 40px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 600;
    vertical-align: middle;
}
.btn-red {
    border: 2px solid red;
    color: #fff;
    background: #FF0000;
}

.filter {min-height: 2.1em; margin-top: 5px}

.border-thin {
    box-sizing: content-box;
    border: 1px solid #4b4b4b;
    box-shadow: inset 0 4px 7px #000 ;
    padding: 20px;
    border-radius: 3px;
}
.row-exp {background: #440918
}
.row-inc {background: #124124
}

select.icon-menu option {
    background-size: contain;
    background-repeat:no-repeat;
    background-position:bottom left ;
    padding-left:30px;

}
.balance {
    color: white;
    font-weight: 600;
    text-shadow: 0 2px 3px #000;
}
.balance-red-bg {
    background: #540000 !important;
}
.balance-green-bg {
    background: #005d00 !important;
}
.balance-orange-bg {
    background: #7d5d10 !important;
}